*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(../Resources/bg.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10rem;
}

#board{
    background: linear-gradient(rgb(149, 206, 149), rgb(236, 236, 142));
    border: 2px solid purple;
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color: green;
    border-radius: 40%;
    border: 1px solid whitesmoke;
}

.snake{
    background-color: rgb(112, 177, 16);
    border-radius: 40%;
    border: 1px solid whitesmoke;
}

.food{
    background-color: rgb(228, 96, 96);
    border-radius: 10%;
    border: 1px solid slateblue;
}